*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: none;
}

.main{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffff;
    border: 2px solid #0ea327;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0ea327;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.left a .logo{
    width: 160px;
    margin-right: 45px;

}

.left, .right{
    display: flex;
    align-items: center;
}

.left ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}

.left ul li .fas{
    width: 28px;
    margin: 0 15px;
}

.navbar-item{ 
    flex-grow: 0;
    flex-shrink: 0;
}

.navbar-item, .navbar-link {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.buttons .button {
    margin-bottom: 0.5rem;
}
.button.is-light{
    background-color: #f5f5f5;
    border-color: transparent;
    color: rgba(0,0,0,.7);
}
.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
}

.usericon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

}

.usericon{
    margin-left: 30px;
}

.searchbox{
    background: #e7e6e6;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    display: flex;
    flex-basis: 100%;
    
}

.searchbox img{
    width: 18px;
}

.searchbox input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}



.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    width: 100%;
}

.left-sidebar{
    background: yellow;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    

}
.right-sidebar{
    background: yellow;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
        

}
.main-content{
    flex-basis: 100%;
    width: 100%;
    
}
.imp-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: aqua;
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child{
    color: blue;
}

.imp-links{
    border-bottom: 1px solid grey;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a{
    text-decoration: none;
    color: blue;
    font-size: 12px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-left: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p{
    font-size: 12px;
}

.event a{
        font-size: 12px;
        text-decoration: none;
        
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    font-size: 10px;
    padding: 4px 0;
}

.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    columns: #626262;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;

}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: black;
}

.user-profile small{
    font-size: 12px;
}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea{
    width: 100%;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.is-info{
    background-color: #0ea327;
}

.add-post-links{
    display: flex;
    margin-top: 10px;
}

.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000000;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}

.post-container{
    width: 100%;
    background: #e7e6e6;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.user-profile span{
    font-size: 13px;
    color: #626262;
}

.post-text{
    color: #000000;
    margin: 15px;
    font-size: 15px;
}

.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}

.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-row a{
    color: #9a9a9a;
}

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 360px;
    height: 500%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
}