<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/links.css') }}">
    <title>Chat</title>
</head>
<body>
    <div class="container-message">
        
        <nav class="message-nav">

        </nav>
    {% for message in messages %}
        <div class="chat-box">
            <div class="col-1">
                <div class="msg-row">
                    <img src="{{url_for('static', filename=message['Picture'])}}" class="msg-img">
                    <div class="msg-text">
                        <h2>{{message['Name']}}</h2>
                        <p>{{message['Text']}}</p>
                        <span>{{message['DateTime']}}</span>
                    </div>
                    
                </div>
                <div class="msg-row msg-row2">
                    <div class="msg-text">
                        <h2>Mark</h2>
                        <p>Hi Jack</p>
                    </div>
                    <img src="{{url_for('static', filename=message['Picture'])}}" class="msg-img">
                </div>
                <div class="msg-row">
                    <img src="{{url_for('static', filename=message['Picture'])}}" class="msg-img">
                    <div class="msg-text">
                        <h2>{{message['Name']}}</h2>
                        <p>{{message['Text']}}</p>
                        <span>{{message['DateTime']}}</span>
                    </div>   
                </div>
                <input type="text" placeholder="Your message.....">
            </div>
            <!--<div class="col-2">
                <h3>Friend List</h3>
                <ul>
                    <li class="online">Mary</li>
                    <li class="offline">Evelyn</li>
                    <li class="online">Stones</li>
                    <li class="offline">Johnson</li>
                    
                </ul>
            </div>-->
        </div>
    {% endfor %}
    </div>
</body>
</html>