<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/links.css') }}">
    <title>Chat</title>
</head>
<body>        
    
    {% extends 'index.html' %}

    {% block content %} 
    <div class="container-message">
        


    

    {% for message in messages %}
        <div class="chat-box">
            
            <div class="col-1">
                <div class="msg-row">
                    <img src="{{url_for('static', filename=message['Picture'])}}" class="msg-img">
                    <div class="msg-text">
                        <h2>{{message['Name']}}</h2>
                        <p>{{message['Text']}}</p>
                        <span>{{message['DateTime']}}</span>
                    </div>
                    
                </div>
                <div class="msg-row msg-row2">
                    <div class="msg-text">
                        <h2>Mark</h2>
                        <p>Hi Jack</p>
                    </div>
                    <img src="{{url_for('static', filename=message['Picture'])}}" class="msg-img">
                </div>
                <div class="msg-row">
                    <img src="{{url_for('static', filename=message['Picture'])}}" class="msg-img">
                    <div class="msg-text">
                        <h2>{{message['Name']}}</h2>
                        <p>{{message['Text']}}</p>
                        <span>{{message['DateTime']}}</span>
                    </div>   
                </div>
                <div class="user-profile">
                    <form action="/create" method="POST">
                        <div class="post-input-container">
                            <textarea rows="3" placeholder="Your message" name="post-content"></textarea>
                        
                            <div class="level-left">
                                <div class="level-item">
                                    <button class="button-post">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            <!--<div class="col-2">
                <h3>Friend List</h3>
                <ul>
                    <li class="online">Mary</li>
                    <li class="offline">Evelyn</li>
                    <li class="online">Stones</li>
                    <li class="offline">Johnson</li>
                    
                </ul>
            </div>-->
        </div>
    {% endfor %}
    </div>

    {% endblock %}
</body>
</html>