{% extends 'index.html' %}

{% block content %}

<div class="container">
    <div class="main-content">

       <!-- <div class="story-gallary">
            <div class="story">
                <img src="">
            </div>-->

            <div class="write-post-container">
                <div class="user-profile">
                    <img src="{{url_for('static', filename='GiftM.jpg')}}" alt="Image" class="user-profile-img">
                 <form method="post">
                    <div class="post-input-container">
                        <textarea rows="3" placeholder="Your post" name="Text">{{ request.form['Text'] or post['Text'] }}</textarea>
                    
                        <div class="level-left">
                            <div class="level-item">
                                <button class="button-post float-left">Update Post</button>
                            </div>
                        </div>
                    </div>
                 </form>
                    
                </div>
                
            </div>
    </div>
</div>

    {% endblock %}