<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add Friends</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gift.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/links.css') }}">
</head>

<body>

    {% extends 'index.html' %}

    {% block content %}
<div class="main">

    
    <div class="fr-title">
        <h2>Add New Friend</h2>
    </div>

	<div class="row">
        <div class="col-12">
            <div class="media">
                <img class="d-flex mr-3" src="{{url_for('static', filename='GiftM.jpg')}}" alt="Generic placeholder image">
                <div class="media-body">
                    <h3 class="mt-0">Jack</h3>
                    <a href="#button" class="btn btn-primary btn-round">Add</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="media">
                <img class="d-flex mr-3" src="{{url_for('static', filename='GiftM.jpg')}}" alt="Generic placeholder image">
                <div class="media-body">
                    <h3 class="mt-0">Mary</h3>
                    <a href="#button" class="btn btn-primary btn-round">Add</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="media">
                <img class="d-flex mr-3" src="{{url_for('static', filename='GiftM.jpg')}}" alt="Generic placeholder image">
                <div class="media-body">
                    <h3 class="mt-0">Evelyn</h3>
                    <a href="#button" class="btn btn-primary btn-round">Add</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="media">
                <img class="d-flex mr-3" src="{{url_for('static', filename='GiftM.jpg')}}" alt="Generic placeholder image">
                <div class="media-body">
                    <h3 class="mt-0">Evelyn</h3>
                    <a href="#button" class="btn btn-primary btn-round">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

</body>
</html>