

    {% extends 'base.html' %}

    {% block content %}
    <div class="columns body-columns">
        <div class="content column is-half is-offset-one-quarter"> 
            
            {% for user in all_users %}
            <div class="header mb-6">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{{url_for('static', filename='GiftM.jpg')}}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4 is-success">
                            <a href="" style="color: hsl(141, 53%, 53%);">{{ user['Name'] }}</a>
                        </p>
                    </div>
                    <div class="buttons">
                        <button class="button is-primary"><a href="{{url_for('friend_request', receiver_id = user['Id'])}}">Adfriend</a></button>
                        <!--<button class="button is-link">Link</button>-->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
