<!DOCTYPE html>
<html><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome To Zedchat</title>
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="../css/landing.css">
  <style>
    html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}
  </style>
</head>

<body>
  <section class="hero is-info is-fullheight">
      <div class="hero-head">
          <nav class="navbar">
              <div class="container">
                  <div class="navbar-brand">
                      <a class="navbar-item is-size-3 is-italic has-text-weight-bold" href="{{url_for('index')}}">
                          Zedchat
                      </a>
                      <span class="navbar-burger burger" data-target="navbarMenu">
                          <span></span>
                          <span></span>
                          <span></span>
                      </span>
                  </div>
                  <div id="navbarMenu" class="navbar-menu">
                      <div class="navbar-end">
                          <span class="navbar-item">
                              <a class="button is-white is-outlined" href="{{url_for('index')}}">
                                  <span class="icon">
                                      <i class="fa fa-home"></i>
                                  </span>
                                  <span>Home</span>
                              </a>
                          </span>
                          <span class="navbar-item">
                              <a class="button is-white is-outlined" href="{{url_for('login')}}">
                                  <span class="icon">
                                      <i class="fa fa-sign-in"></i>
                                  </span>
                                  <span>Log In</span>
                              </a>
                          </span>
                          <span class="navbar-item">
                              <a class="button is-white is-outlined" href="{{url_for('register')}}">
                                  <span class="icon">
                                      <i class="fa fa-user-plus"></i>
                                  </span>
                                  <span>Sign Up</span>
                              </a>
                          </span>
                      </div>
                  </div>
              </div>
          </nav>
          </div>

          <div class="hero-body">
              <div class="container has-text-centered">
                  <div class="column is-6 is-offset-3">
                      <h1 class="title">
                          ZedChat
                      </h1>
                      <h2 class="subtitle">
                          Welcome to ZedChat. A social Media Platform For Young Zambians
                      </h2>
                      <div>
                              <p class="control">
                                  <a class="button is-info" href="{{url_for('login')}}">
                                      Log In
                                  </a>
                              </p>
                              <br>
                              <p>Or</p>
                              <br>
                              <p class="control">
                                <a class="button is-info" href="{{url_for('register')}}" style="background-color: hsl(141, 53%, 53%);">
                                    Sign Up Today
                                </a>
                            </p>
                      </div>
                  </div>
              </div>
          </div>

  </section>
  <script async="" type="text/javascript" src="../js/bulma.js"></script>



</body></html>