{% extends 'index.html' %}

{% block content %}

<div class="container">
    <div class="main-content">

       <!-- <div class="story-gallary">
            <div class="story">
                <img src="">
            </div>-->

            <div class="write-post-container">
                <div class="user-profile">
                    <img src="{{url_for('static', filename='GiftM.jpg')}}" alt="Image" class="user-profile-img">
                 <form action="/create" method="POST">
                    <div class="post-input-container">
                        <textarea rows="3" placeholder="Your post" name="post-content"></textarea>
                    
                        <div class="level-left">
                            <div class="level-item">
                                <button class="button-post float-left">Post</button>
                            </div>
                        </div>
                    </div>
                 </form>
                    
                </div>
                
            </div>
           
       <!--</div>-->

        {% for post in posts %}
        <div class="post-container">
            <div class="post-row">
                <div class="user-profile">
                    <img src="{{url_for('static', filename='GiftM.jpg')}}" alt="Image">
                    
                    <div class="pl-2">
                        <h5 class="mt-0 font-weight-bold">{{ post['Name'] }}</h5>
                    <span>{{ post['DateTime'] }}</span>
                    </div>
                </div>
                <div class="btn-group dropleft">
                    <button type="button" class="btn">More</button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{ url_for('edit_post', Id=post['Id']) }}">Edit</a>
                      <a class="dropdown-item btn-danger" href="#">Delete</a>
                    </div>
                  </div>
            </div>
            
            <div class="ml-4">
                <p class="post-text">
                {{ post['Text'] }}
            </p>
            <!--<img src="https://cdn.britannica.com/29/150929-050-547070A1/lion-Kenya-Masai-Mara-National-Reserve.jpg" class="post-img">-->
            
        </div>

        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}